{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "globals": {
    "document": true
  },
  "rules": {
    "no-underscore-dangle": "off",
    "no-param-reassign": "off",
    "import/no-extraneous-dependencies": "off"
  }
}
