{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "globals": {
    "window": true,
    "document": true,
    "fetch": true
  },
  "env": {
    "jest": true
  },
  "rules": {
    "no-underscore-dangle": "off",
    "no-param-reassign": "off",
    "import/no-extraneous-dependencies": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["client"]
      }
    }
  }
}
