.agent-type2 {
  @extend %agents-list__item;

  &__link {
    @extend %agents-list__link;
  }

  &--disabled {
    color: $brand-component-outline-color;

    .agent-type2__link {
      color: $brand-component-outline-color;
    }
  }

  &__toggle {
    @extend .c-btn;
    @extend .c-btn--accept;
    @extend .c-btn--small;

    margin-left: 10px;
  }

  &__icon {
    &--alert {
      @extend .c-icon--red;
    }
  }
}
