.agents-list {
  &__list {
    @extend .c-list;
  }

  &__title {
    @extend .c-panel__title;
  }
}

%agents-list {
  &__link {
    color: $brand-text-color;
  }

  &__item {
    @extend .c-list__item;

    &--inactive {
      border-color: #bebfc1;
      color: #bebfc1;
    }
  }
}

@import "./Agents/Jeep/styles";
@import "./Agents/Type1/styles";
@import "./Agents/Type2/styles";
