{{define "body"}}
<main class="c-page">
    <div class="login-box">
        <h2 class="login-box__title">
            Login to HOME
        </h2>

        {{if .Params.IsError}}
        <div class="login-box__alert">
            Invalid login credentials
        </div>
        {{end}}

        <form action="/login" method="post">
            <div class="c-input">
                <label class="c-input__label"
                       for="email-field">
                    Email address
                </label>
                <input type="email"
                       class="c-input__field"
                       id="email-field"
                       placeholder="Email"
                       name="username">
            </div>
            <div class="c-input">
                <label class="c-input__label"
                       for="password-field">
                    Password
                </label>
                <input type="password"
                       class="c-input__field"
                       id="password-field"
                       placeholder="Password"
                       name="password">
            </div>
            <button type="submit"
                    class="login-box__submit"
                    id="login-submit">
                Login
            </button>
            or
            <a class="login-box__signup"
               href="/login/register">
                Sign up
            </a>
            (if you don't have an account yet)
        </form>
    </div>
</main>
{{end}}
