{{define "navigation"}}
<header class="c-header">
    <a class="c-header__logo" href="/">
        HOME
    </a>
    <nav class="c-header__navigation">
        <ul class="c-navigation">
            <li class="c-navigation__option">
                <a class="c-navigation__link" href="/">
                    Dashboard
                </a>
            </li>
            {{ range index .Params "menu"}}
                    <li class="c-navigation__option">
                        <a class="c-navigation__link" href="/agent/{{.}}">
                            {{.}}
                        </a>
                    </li>
            {{ end }}
        </ul>
    </nav>
</header>
<section class="splash">

</section>
{{end}}
