{{define "body"}}
<main class="c-page">
    <div class="login-box">
        <h2 class="login-box__title">
            Register new user
        </h2>

        <form action="/login/register" method="post">
            <div class="c-input">
                <label class="c-input__label"
                       for="email-field">
                    Email address
                </label>
                <input type="email"
                       class="tst-email c-input__field"
                       id="email-field"
                       placeholder="Email"
                       name="username">
            </div>
            <div class="c-input">
                <label class="c-input__label"
                       for="password-field">
                    Password
                </label>
                <input type="password"
                       class="tst-password c-input__field"
                       id="password-field"
                       placeholder="Password"
                       name="password">
            </div>
            <button type="submit" class="tst-register btn btn-default">
                Register
            </button>
            or
            <a class="tst-login btn btn-primary"
               href="/login">
                Login
            </a>
            (if you have an account yet)
        </form>
    </div>
</main>
{{end}}
