[Service]
WorkingDirectory=
ExecStart=
Restart=always
StandardOutput=syslog
StandardError=syslog
User=root
Group=root
Environment=PORT=
Environment=AGENTDEV1=/dev/rfcomm0
Environment=AGENTDEV2=/dev/rfcomm1
Environment=EMAILNAME=
Environment=EMAILPASS=
Environment=INFLUXADDR=
Environment=SMTPPORT=
Environment=SMTPAUTHURL=
[Install]
