.control-panel {
  @extend .c-panel;
  @extend .c-panel--separator;

  padding-bottom: 10px;

  &__title {
    @extend .c-panel__title;
  }

  &__control {
    @extend .c-control;
  }

  &__alerts {
    margin-left: 15px;
    vertical-align: middle;
  }

  &__send-alert {
    @extend .c-btn;
    @extend .c-btn--accept;

    margin-left: 15px;
  }
}
