$c-joystick-size: 100px;
$c-joystick-knob-color: #bebfc1;
$c-joystick-color: #f2f2f2;

.c-joystick {
  position: relative;
  background-color: $c-joystick-color;
  width: $c-joystick-size;
  height: $c-joystick-size;
  border-radius: $c-joystick-size * 0.5;
  cursor: pointer;

  &__knob {
    position: absolute;
    background-color: $c-joystick-knob-color;
    width: $c-joystick-size * 0.5;
    height: $c-joystick-size * 0.5;
    border-radius: $c-joystick-size * 0.25;

    .c-joystick--inactive & {
      opacity: 0.2;
    }
  }

  &__drag {
    position: absolute;
    opacity: 0;
    width: $c-joystick-size * 0.5;
    height: $c-joystick-size * 0.5;
    border-radius: $c-joystick-size * 0.25;
  }
}
