$color-flash: #FEC9A5;

.temperature-chart {
    height: 300px;

    &__line {
        fill: none;
        stroke: $color-roman;
        stroke-width: 1;
    }

    &__area {
        fill: $color-flash;
    }

    &__dot {
        fill: $color-roman;
        stroke: $color-roman;
    }
}
