$color-flash: #FEC9A5;

.temperature-chart {

    &__line {
        fill: none;
        stroke: #fb8532;
        stroke-width: 1;
    }

    &__area {
        fill: #fb994e;
    }

    &__dot {
        fill: $color-roman;
        stroke: $color-roman;
    }
}
